{{#helpers application, subpage, source}}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{subpage}} - {{application}}</title>

    <link rel="preload" href="/_65aa21be9d76d7fa16100.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="/_27b3e9422ed86801dc400.css">
    <link rel="stylesheet" href="/{{source}}.css">
    
</head>
<body class="areas-[grid]:[mountain]/[main]:[1.125rem]/[3.375rem]">
        
    <main>
             
        <section class="padding-[10.125rem]/[3.375rem]/[0rem]/[3.375rem]">
            <div class="columns-[grid]:[60rem]:[0rem]:[start]:[middle]">
                <div class="padding-[5.625rem]/[12.375rem]/[5.625rem]/[12.375rem] contour-[F3F7FB]:[F3F7FB]:[.0625rem]:[.625rem]">
                    <p class="type-[000EE6]:[1rem]:[400]:[1]:[middle]">Codeweaver</p>
                    <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                        <p class="type-[000000]:[1.9125rem]:[400]:[1.5]:[middle]">Choose battle-tested technologies with community support</p>
                    </div>
                    <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                        <p class="type-[000000]:[1rem]:[400]:[1.9]:[middle]">Software supports your business growth, and you need more from it. We’ve helped over 160+ companies build scalable products with confidence. Technology executives chose our development teams because skills.</p>
                    </div>
                    <div class="margin-[2.25rem]/[0rem]/[0rem]/[0rem]">
                        <div class="columns-[grid]:[9.8125rem]:[1.125rem]:[start]:[middle]">
                            <a href="/" class="padding-[.625rem]/[1.125rem]/[.6875rem]/[1.125rem] type-[F8F8F8]:[1rem]:[400]:[1]:[middle] contour-[000EE6]:[000EE6]:[.0625rem]:[3.375rem]">Look at calendar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="padding-[16.875rem]/[3.375rem]/[0rem]/[3.375rem]">
            <div class="columns-[grid]:[60rem]:[0rem]:[start]:[middle]">
                <p class="type-[000EE6]:[1rem]:[400]:[1]:[middle]">Codeweaver</p>
                <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                    <p class="type-[000000]:[1.9125rem]:[400]:[1.5]:[middle]">Breaking up a monolith into<br>microservices for a UK expansion</p>
                </div>
                <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                    <p class="type-[000000]:[1rem]:[400]:[1.9]:[middle]">The state of your architecture either limits or supports you in growth.<br>If it’s limiting, consider re-architecting your application.</p>
                </div>
                <div class="margin-[5.625rem]/[0rem]/[0rem]/[0rem]">
                    <div class="columns-[grid]:[21.75rem]/[32.625rem]:[0rem]/[5.625rem]:[start]:[middle]">
                        <div>
                            <div class="columns-[grid]:[1fr]:[0rem]:[start]:[middle]">
                                <div class="padding-[1.125rem]/[1.6875rem]/[1.125rem]/[1.6875rem] contour-[000EE6]:[000EE6]:[.0625rem]:[.625rem]">
                                    <p class="type-[FFFFFF]:[1rem]:[400]:[1]:[start]">Software architecture</p>
                                </div>
                                <div class="padding-[1.125rem]/[1.6875rem]/[1.125rem]/[1.6875rem] contour-[FFFFFF]:[FFFFFF]:[.0625rem]:[.625rem]">
                                    <p class="type-[000000]:[1rem]:[400]:[1]:[start]">Application refactoring</p>
                                </div>
                                <div class="padding-[1.125rem]/[1.6875rem]/[1.125rem]/[1.6875rem] contour-[FFFFFF]:[FFFFFF]:[.0625rem]:[.625rem]">
                                    <p class="type-[000000]:[1rem]:[400]:[1]:[start]">Platform re-architecting</p>
                                </div>
                                <div class="padding-[1.125rem]/[1.6875rem]/[1.125rem]/[1.6875rem] contour-[FFFFFF]:[FFFFFF]:[.0625rem]:[.625rem]">
                                    <p class="type-[000000]:[1rem]:[400]:[1]:[start]">Architecture solutions audit</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="type-[000000]:[1.2375rem]:[400]:[1]:[start]">Build it with The Software House</p>
                            <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[636363]:[1rem]:[400]:[1.9]:[start]">Senior and executive tech professionals choose AWS Lambda as their preferred serverless solution (State of Microservices 2020), which is what our engineers are certified in. Companies in Fintech, banking, travel, transport, and e-commerce markets worked with The Software House on serverless implementation to unlock.</p>
                            </div>
                            <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[636363]:[1rem]:[400]:[1.9]:[start]">Software supports your business growth, and you need more from it. We’ve helped over 160+ companies build scalable products with confidence. Technology executives chose our development.</p>
                            </div>
                            <div class="margin-[2.25rem]/[0rem]/[0rem]/[0rem]">
                                <div class="padding-[1.6875rem]/[2.25rem]/[1.6875rem]/[2.25rem] contour-[F3F7FB]:[F3F7FB]:[.0625rem]:[.625rem]">
                                    <p class="type-[636363]:[1rem]:[400]:[1.9]:[start]">Only the cloud can offer you unlimited vertical and horizontal scalability that’s needed for reliable software delivery to many markets. Go beyond any development barrier by migrating the application to AWS, Azure, or GCP</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="padding-[14.625rem]/[3.375rem]/[0rem]/[3.375rem]">
            <div class="columns-[grid]:[80rem]:[0rem]:[start]:[middle]">
                <p class="type-[000EE6]:[1rem]:[400]:[1]:[start]">Codeweaver</p>
                <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                    <p class="type-[000000]:[1.9125rem]:[400]:[1]:[start]">Codeweaver's Impact on Insurance Businesses</p>
                </div>
                <div class="margin-[3.375rem]/[0rem]/[0rem]/[0rem]">
                    <div class="columns-[grid]:[1fr]/[1fr]:[2.25rem]:[start]:[middle]">
                        <div>
                            <img src="/_217aa4f834b366df01000.jpg" alt="{{application}}" class="contour-[FFFFFF]:[FFFFFF]:[0rem]:[.625rem]">
                            <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[000000]:[1.4625rem]:[400]:[1.5]:[start]">StageClip saves $28,000 on their cloud bill monthly by reworking their Azure architecture</p>
                            </div>
                            <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[636363]:[1rem]:[400]:[1.9]:[start]">Senior and executive tech professionals choose AWS Lambda as their preferred serverless solution (State of Microservices 2020), which is what our engineers are certified in. Companies in Fintech, banking, travel, transport, and e-commerce.</p>
                            </div>
                            <div class="margin-[2.25rem]/[0rem]/[0rem]/[0rem]">
                                <div class="columns-[grid]:[10rem]/[10rem]:[1.125rem]:[start]:[start]">
                                    <div>
                                        <p class="type-[000000]:[1.2375rem]:[400]:[1]:[start]">1,000</p>
                                        <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                            <p class="type-[636363]:[.875rem]:[400]:[1.5]:[start]">institutional clients worldwide</p>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="type-[000000]:[1.2375rem]:[400]:[1]:[start]">1,000</p>
                                        <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                            <p class="type-[636363]:[.875rem]:[400]:[1.5]:[start]">lower cloud cost</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="/_217aa4f834b366df01000.jpg" alt="{{application}}" class="contour-[FFFFFF]:[FFFFFF]:[0rem]:[.625rem]">
                            <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[000000]:[1.4625rem]:[400]:[1.5]:[start]">StageClip saves $28,000 on their cloud bill monthly by reworking their Azure architecture</p>
                            </div>
                            <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[636363]:[1rem]:[400]:[1.9]:[start]">Senior and executive tech professionals choose AWS Lambda as their preferred serverless solution (State of Microservices 2020), which is what our engineers are certified in. Companies in Fintech, banking, travel, transport, and e-commerce.</p>
                            </div>
                            <div class="margin-[2.25rem]/[0rem]/[0rem]/[0rem]">
                                <div class="columns-[grid]:[10rem]/[10rem]:[1.125rem]:[start]:[start]">
                                    <div>
                                        <p class="type-[000000]:[1.2375rem]:[400]:[1]:[start]">1,000</p>
                                        <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                            <p class="type-[636363]:[.875rem]:[400]:[1.5]:[start]">institutional clients worldwide</p>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="type-[000000]:[1.2375rem]:[400]:[1]:[start]">1,000</p>
                                        <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                            <p class="type-[636363]:[.875rem]:[400]:[1.5]:[start]">lower cloud cost</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="padding-[14.625rem]/[3.375rem]/[0rem]/[3.375rem]">
            <div class="columns-[grid]:[60rem]:[0rem]:[start]:[middle]">
                <div class="padding-[3.375rem]/[3.375rem]/[3.375rem]/[3.375rem] contour-[F3F7FB]:[F3F7FB]:[.0625rem]:[.625rem]">
                    <div class="columns-[grid]:[36.6875rem]/[9.8125rem]:[5.625rem]:[middle]:[middle]">
                        <div>
                            <p class="type-[000000]:[1.9125rem]:[400]:[1]:[start]">What's your no. 1 issue with AWS?</p>
                            <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[000000]:[1rem]:[400]:[1]:[start]">Over 160+ software teams consulted with our Seniors.</p>
                            </div>
                        </div>
                        <div>
                            <a href="/" class="padding-[.625rem]/[1.125rem]/[.6875rem]/[1.125rem] type-[F8F8F8]:[1rem]:[400]:[1]:[middle] contour-[000EE6]:[000EE6]:[.0625rem]:[3.375rem]">Look at calendar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="padding-[14.625rem]/[3.375rem]/[0rem]/[3.375rem]">
            <div class="columns-[grid]:[80rem]:[0rem]:[start]:[middle]">
                <p class="type-[000EE6]:[1rem]:[400]:[1]:[start]">Codeweaver</p>
                <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                    <p class="type-[000000]:[1.9125rem]:[400]:[1]:[start]">Codeweaver's Impact on Insurance Businesses</p>
                </div>
                <div class="margin-[3.375rem]/[0rem]/[0rem]/[0rem]">
                    <div class="columns-[grid]:[1fr]/[1fr]:[2.25rem]:[start]:[middle]">
                        <div>
                            <img src="/_217aa4f834b366df01000.jpg" alt="{{application}}" class="contour-[FFFFFF]:[FFFFFF]:[0rem]:[.625rem]">
                            <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[000000]:[1.4625rem]:[400]:[1.5]:[start]">StageClip saves $28,000 on their cloud bill monthly by reworking their Azure architecture</p>
                            </div>
                            <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[636363]:[1rem]:[400]:[1.9]:[start]">Senior and executive tech professionals choose AWS Lambda as their preferred serverless solution (State of Microservices 2020), which is what our engineers are certified in. Companies in Fintech, banking, travel, transport, and e-commerce.</p>
                            </div>
                            <div class="margin-[2.25rem]/[0rem]/[0rem]/[0rem]">
                                <div class="columns-[grid]:[10rem]/[10rem]:[1.125rem]:[start]:[start]">
                                    <div>
                                        <p class="type-[000000]:[1.2375rem]:[400]:[1]:[start]">1,000</p>
                                        <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                            <p class="type-[636363]:[.875rem]:[400]:[1.5]:[start]">institutional clients worldwide</p>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="type-[000000]:[1.2375rem]:[400]:[1]:[start]">1,000</p>
                                        <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                            <p class="type-[636363]:[.875rem]:[400]:[1.5]:[start]">lower cloud cost</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="/_217aa4f834b366df01000.jpg" alt="{{application}}" class="contour-[FFFFFF]:[FFFFFF]:[0rem]:[.625rem]">
                            <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[000000]:[1.4625rem]:[400]:[1.5]:[start]">StageClip saves $28,000 on their cloud bill monthly by reworking their Azure architecture</p>
                            </div>
                            <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                <p class="type-[636363]:[1rem]:[400]:[1.9]:[start]">Senior and executive tech professionals choose AWS Lambda as their preferred serverless solution (State of Microservices 2020), which is what our engineers are certified in. Companies in Fintech, banking, travel, transport, and e-commerce.</p>
                            </div>
                            <div class="margin-[2.25rem]/[0rem]/[0rem]/[0rem]">
                                <div class="columns-[grid]:[10rem]/[10rem]:[1.125rem]:[start]:[start]">
                                    <div>
                                        <p class="type-[000000]:[1.2375rem]:[400]:[1]:[start]">1,000</p>
                                        <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                            <p class="type-[636363]:[.875rem]:[400]:[1.5]:[start]">institutional clients worldwide</p>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="type-[000000]:[1.2375rem]:[400]:[1]:[start]">1,000</p>
                                        <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                                            <p class="type-[636363]:[.875rem]:[400]:[1.5]:[start]">lower cloud cost</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="padding-[14.625rem]/[3.375rem]/[0rem]/[3.375rem]">
            <div class="columns-[grid]:[36.0625rem]/[36.0625rem]:[0rem]/[7.875rem]:[start]:[middle]">
                <div>
                    <p class="type-[000EE6]:[1rem]:[400]:[1]:[start]">Codeweaver</p>
                    <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                        <p class="type-[000000]:[1.9125rem]:[400]:[1]:[start]">What would you like to do?</p>
                    </div>
                    <div class="margin-[3.375rem]/[0rem]/[0rem]/[0rem]">
                        <div>
                            <div class="columns-[grid]:[1fr]/[1fr]/[1fr]/[1fr]:[1.125rem]:[start]:[start]">
                                <div>
                                    <div class="columns-[grid]:[.9375rem]/[6.5rem]:[.675rem]:[middle]:[start]">
                                        <div class="measure-[.9375rem]:[.9375rem] contour-[FFFFFF]:[E9E9E9]:[.0625rem]:[.625rem]"></div>
                                        <div class="type-[000000]:[1rem]:[400]:[1]:[start]">Orchestrate</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="columns-[grid]:[.9375rem]/[6.5rem]:[.675rem]:[middle]:[start]">
                                        <div class="measure-[.9375rem]:[.9375rem] contour-[FFFFFF]:[E9E9E9]:[.0625rem]:[.625rem]"></div>
                                        <div class="type-[000000]:[1rem]:[400]:[1]:[start]">Orchestrate</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="columns-[grid]:[.9375rem]/[6.5rem]:[.675rem]:[middle]:[start]">
                                        <div class="measure-[.9375rem]:[.9375rem] contour-[FFFFFF]:[E9E9E9]:[.0625rem]:[.625rem]"></div>
                                        <div class="type-[000000]:[1rem]:[400]:[1]:[start]">Orchestrate</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="columns-[grid]:[.9375rem]/[6.5rem]:[.675rem]:[middle]:[start]">
                                        <div class="measure-[.9375rem]:[.9375rem] contour-[FFFFFF]:[E9E9E9]:[.0625rem]:[.625rem]"></div>
                                        <div class="type-[000000]:[1rem]:[400]:[1]:[start]">Orchestrate</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-[2.25rem]/[0rem]/[0rem]/[0rem]">
                            <div class="columns-[grid]:[1fr]:[1.125rem]:[start]:[start]">
                                <div>
                                    <input placeholder="Full name (required)" class="padding-[.5rem]/[1.125rem]/[.625rem]/[1.125rem] type-[000000]:[1rem]:[400]:[1]:[start] contour-[FFFFFF]:[E9E9E9]:[.0625rem]:[.625rem]">
                                </div>
                                <div>
                                    <input placeholder="Email (required)" class="padding-[.5rem]/[1.125rem]/[.625rem]/[1.125rem] type-[000000]:[1rem]:[400]:[1]:[start] contour-[FFFFFF]:[E9E9E9]:[.0625rem]:[.625rem]">
                                </div>
                                <div>
                                    <input placeholder="Telephone (required)" class="padding-[.5rem]/[1.125rem]/[.625rem]/[1.125rem] type-[000000]:[1rem]:[400]:[1]:[start] contour-[FFFFFF]:[E9E9E9]:[.0625rem]:[.625rem]">
                                </div>
                                <div>
                                    <input placeholder="Where did you hear about us? (optional)" class="padding-[.5rem]/[1.125rem]/[.625rem]/[1.125rem] type-[000000]:[1rem]:[400]:[1]:[start] contour-[FFFFFF]:[E9E9E9]:[.0625rem]:[.625rem]">
                                </div>
                                <div>
                                    <textarea placeholder="Tell us about your project or the challenge you have (required)" rows="3" class="padding-[.5rem]/[1.125rem]/[.625rem]/[1.125rem] type-[000000]:[1rem]:[400]:[1]:[start] contour-[FFFFFF]:[E9E9E9]:[.0625rem]:[.625rem]"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="margin-[1.125rem]/[.375rem]/[0rem]/[.375rem]">
                            <p class="type-[636363]:[.875rem]:[400]:[1.9]:[start]">Personal data will be processed in order to handle your question, and their administrator will be The Software House sp. z o.o. with its registered office in Gliwice. Other information regarding the processing of personal data, including information on your rights...</p>
                        </div>
                        <div class="margin-[1.6875rem]/[0rem]/[0rem]/[0rem]">
                            <div class="columns-[grid]:[11.125rem]/[9.375rem]:[3.375rem]:[middle]:[start]">
                                <div>
                                    <button class="padding-[.625rem]/[1.125rem]/[.6875rem]/[1.125rem] type-[F8F8F8]:[1rem]:[400]:[1]:[start] contour-[000EE6]:[000EE6]:[.0625rem]:[3.375rem]">Send us a message</button>
                                </div>
                                <div>
                                    <p class="type-[636363]:[.875rem]:[400]:[1.6]:[start]">or contact us directly at <a href="/">hello@tsh.io</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-[3.375rem]/[3.375rem]/[3.375rem]/[3.375rem] contour-[F3F7FB]:[F3F7FB]:[.0625rem]:[.625rem]">
                    <img src="/_453fb705037fdb31afa00.png" alt="{{application}}" class="measure-[6.25rem]:[6.25rem] contour-[F3F7FB]:[F3F7FB]:[.0625rem]:[.625rem]">
                    <div class="margin-[2.25rem]/[0rem]/[0rem]/[0rem]">
                        <p class="type-[000000]:[1.4625rem]:[400]:[1.5]:[start]">We regard the TSH team as co-founders in our business. The entire team from The Software House has invested an incredible amount of time to truly understand our business, our users and their needs.</p>
                    </div>
                    <div class="margin-[2.25rem]/[0rem]/[0rem]/[0rem]">
                        <img src="/_45fdc5e296feb9990e500.svg" alt="{{application}}" class="measure-[8.4375rem]:[1.375rem]">
                    </div>
                    <div class="margin-[1.125rem]/[0rem]/[0rem]/[0rem]">
                        <p class="type-[000000]:[1rem]:[400]:[1]:[start]">Eckart Burgwedel</p>
                        <div class="margin-[.675rem]/[0rem]/[0rem]/[0rem]">
                            <p class="type-[636363]:[.875rem]:[400]:[1]:[start]">Co-founder and CEO of Uberchord</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

</body>
</html>